.sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: -130px;
}

.sidebar-container a {
    margin-bottom: 70px;
    margin-top: 140px;
    color: #333;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, rgba(19, 0, 210, 1), rgba(123, 16, 160, 1));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center
}

.sidebar-container a.active {
    font-weight: bold;
}
