.contact { 
    background: linear-gradient(to right, rgba(19, 0, 210, 1), rgba(123, 16, 160, 1));
    padding: 40px 0px;
}
.contactTit {
    
    color: white;
    font-weight: bold;
    font-size: 60px;

}
.contactInput {
    padding: 10px 20px;
    border-radius: 20px;
    outline: none !important;
    border: transparent !important;
}

.contactButton {
    outline: 0px;
    display: block !important;
    margin: 0px auto;
    width: fit-content !important;
    border: none;
    border-radius: 40px;
    padding: 10px 20px !important;
    color: white;
    background: black;
    transition: 0.5s;
}
.contactButton:hover {
    background-color: black !important;
    padding:10px 15px !important;
}