.about-color{
    background-color: var(--black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about {
    justify-content: space-around;
    position: relative;
    animation: fed 0.5s ease-in forwards;
    /* padding: 120px 0px; */
}
.about_img{
    position: relative;
    width: 15rem;
    height: 25rem;
    background: var(--color-two);
    border-radius: 15px;
}
.about_img::after , .about_img::before{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: inherit;
    border-radius: 10px;


    /* border: 5px solid var(--color-two);
    border-radius: 10px;
    border-right: 0;
    border-left: 0; */

}
.about_img::before{
  transform: rotate(60deg);
}
.about_img::after{ 
    transform: rotate(-60deg);
}
.about_img img {
    height: 30rem;
    z-index: 1;
    left: -15px;
    top: -80px;
    position: absolute;
}

.about-content {
    color: white;
}
.about-content h1 {
    font-weight: bold;
    font-size: 65px;
}
.about-content h3{
    font-weight: 700;
}
.about-content p{
    padding: 20px 0;
}
.about-content button{
    color: white;
    border-radius: 88px;
    border: none;
    padding: 10px 40px;
    background: var(--color-two);   
    transition: 0.5s;
}
.about-content button:hover {
    padding: 10px 35px;
    
}

@keyframes fed {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}