.MyProject{
    /* background-color: #121212; */
}
.titProj {
    /* color: white; */
    text-align: center;
    padding: 60px 0px 20px;
    font-weight: bold;
    font-size: 65px;
}
.card_Proj {
    padding: 0px 0px 60px;
    gap: 20px 60px;
    justify-content: center;
}
.card_projcontent {
    width: 18rem;
    transition: 0.5s;
}

.card_projcontent::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, #1300d24f, #7b10a063, #1300d24f);
    transition: 0.5s;
    transform-origin: bottom ;
}
.card_projcontent:hover::after{
    transform: scale(0);
}
.card_img{}

@media (max-width:767px) {
    .card_projcontent {
        width: 80%;
        margin: 0px auto;
    }
}