.footer{
    
    background-color: black;
    /* background: linear-gradient(to right, rgba(19, 0, 210, 1), rgba(123, 16, 160, 1)); */
    color: white;
    text-align: center;
    padding: 40px 0;
}
.titFooter{}
.ulFooter{
    
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 0px !important;
    padding: 5px 0px 10px;
    border-bottom: 1px solid #ffffff0f;
}
.ulFooter .iconFooter{
    list-style: none;
}
.ulFooter .iconFooter a svg {
    width: 30px;
    height: 30px;
    /* background: linear-gradient(to right, rgba(19, 0, 210, 1), rgba(123, 16, 160, 1)); */
    color: white;
}
.copyreightFooter{
    font-weight: 100;
}
.copyreightFooter span{
    background: linear-gradient(to right, rgba(19, 0, 210, 1), rgba(123, 16, 160, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-weight: bold;
}