*{background-color: aliceblue;
}

input[type="text"]:focus,input[type="email"]:focus{
    box-shadow: none;
    border-color:#000 ;
}
textarea[type="textarea"]:focus{
    box-shadow: none;
    border-color:#000 
}
input[type="submit"]{
    width: 100%;
 
}
input[type="submit"]:hover{
    background-color: rgb(124, 124, 218);
    color: white;
}
#contact{

}